<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoProgramacion5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoProgramacion5.styles.css" asp-append-version="true" />
</head>
<body style="background-image: url('https://images.squarespace-cdn.com/content/v1/5ff097410400f40890070427/163e8089-af96-4971-b0cf-91c7c8921ba9/Kuro_Chroma_Grainy_Gradients_Abstract_Shapes_09.png');">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center" style="background-color: rgba(255, 255, 255, 0.05);">
        <div class="container">
            © 2023 Copyright:
            <a class="text-reset fw-bold" asp-controller="Home" asp-action="Index">LandLock</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>